# this file lists for every internally known catalog, which filters and
# passbands are defined by which column within the catalog
# Example: the Rufener Geneva catalog uses 'Vmag' to denote the GENEVA.V
# magnitude.
# List of catalogs that cannot be trusted
# - J/PASP/120/1128/catalog: these are calibrated magnitudes, and the observed ones are in other catalogs
# List of potentially interesting catalogs:
# -II/188/stars2,II/200/stars3,II/202/stars4: Long-term photometry of Variables: only differentially to be used!
# -II/86/suppl: UV Bright-Star Spectrophotometric Supplement

#[http://skymappertap.asvo.nci.org.au/ncitap/tap/] # Skymapper survey
[http://api.skymapper.nci.org.au/public/tap/] # Skymapper survey
table = dr1.master
u_psf = SKYMAPPER.U
v_psf = SKYMAPPER.V
g_psf = SKYMAPPER.G
r_psf = SKYMAPPER.R
i_psf = SKYMAPPER.I
z_psf = SKYMAPPER.Z
bibcode = 2018PASA...35...10W

# [http://vao.stsci.edu/PS1DR1BestTAP/TapService.aspx/] # PanStars DR1
# table = dbo.catalogRecord
# rakw = raMean
# deckw = decMean
# gMeanPSFMag = PANSTARRS.G
# gMeanPSFMag_unit = ABmag
# gMeanPSFMag_err = gMeanPSFMagErr
# rMeanPSFMag = PANSTARRS.R
# rMeanPSFMag_unit = ABmag
# rMeanPSFMag_err = rMeanPSFMagErr
# iMeanPSFMag = PANSTARRS.I
# iMeanPSFMag_unit = ABmag
# iMeanPSFMag_err = iMeanPSFMagErr
# zMeanPSFMag = PANSTARRS.Z
# zMeanPSFMag_unit = ABmag
# zMeanPSFMag_err = zMeanPSFMagErr
# yMeanPSFMag = PANSTARRS.Y
# yMeanPSFMag_unit = ABmag
# yMeanPSFMag_err = yMeanPSFMagErr
# bibcode = 2016arXiv161205560C
